// block 16

.footer__form {

  display: flex;

}

.footer__right {
  text-align: center;
  margin-left: auto;
}

.newsletter {
  position: relative;
}

.newsletter__input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 20px;

}


.newsletter__icons {
  position: absolute;

  right: 18px;
  top: 50%;
  transform: translatey(-50%);
}

.newsletter__btn {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  position: relative;
  
  padding-left: 28px;


}

.newsletter__input::placeholder {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}